@model Homework_SkillTree.Services.PagedResult<Homework_SkillTree.Models.HomeViewModel>
@using Homework_SkillTree.Services

@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-4">
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-end">
            <a href="@Url.Action("Add", "Home")" class="btn btn-primary">
                <i class="bi bi-plus"></i> 新增記帳
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>類別</th>
                    <th>日期</th>
                    <th>金額</th>
                </tr>
            </thead>
            <tbody>
                @{ int index = (Model.PageNumber - 1) * Model.PageSize + 1; }
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@(index++)</td>
                        <td>@(item.Category == "1" ? "收入" : "支出")</td>
                        <td>@item.CreateDate.ToString("yyyy-MM-dd")</td>
                        <td>@item.Money.ToString("N0")</td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- 分頁導航 -->
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageNumber - 1 })">上一頁</a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber == Model.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageNumber + 1 })">下一頁</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>
