@model X.PagedList.IPagedList<Homework_SkillTree.Models.HomeViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Extensions;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-4">
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-end">
            <a href="@Url.Action("Add", "Home")" class="btn btn-primary">
                <i class="bi bi-plus"></i> 新增記帳
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>類別</th>
                        <th>日期</th>
                        <th>金額</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = Model.FirstItemOnPage;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(index++)</td>
                            <td>@(item.Category == "1" ? "收入" : "支出")</td>
                            <td>@item.CreateDate.ToString("yyyy-MM-dd")</td>
                            <td>@item.Money.ToString("N0")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- 使用 Partial View -->
        @await Html.PartialAsync("_Pagination", Model)
    </div>
</div>

